.banner {
  height: 100vh;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
  margin-top: -140px;

  // &__img-container{
  //   margin-top: -178px;
  //   position: relative;
  //   z-index: 0;
  //   height: 765px;
  //   width: 100%;
  //   overflow-y: hidden;
  // }

  &__img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
  }
}