.binding-target {
  background: $primary-color;
  padding: 15px 0;

  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }

  &__wrapper {
    @include wrapper__a;
  }

  &__title {
    font-family: $ff-MicrosoftTaiLe;
    text-transform: uppercase;
    font-weight: $fontweight-regular;
    color: $white-color;
    text-align: center;
    font-size: $font-med-half;
    letter-spacing: 2px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      padding: 10px 0;
      justify-content: center;
    }
  }

  &__item {
    min-height: 215px;
    width: 215px;
    padding: 15px;
    background: transparent;
    border: $white-color solid 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 1000px) {
      width: 24%;
    }

    // Mobile
    @media screen and (max-width: 767px) {
      width: 45%;
      height: 280px;
      margin: 15px;
      border: $white-color solid 2px;
    }
  }

  &__img-container {
    text-align: center;
  }

  &__img {
    width: 150px;
    height: 100%;
    object-fit: contain;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    @media screen and (max-width: 1000px) {
      width: 90%;
    }
  }

  &__text {
    color: $white-color;
    font-size: $font-small-half;
    padding: 20px 0 0 0;
    line-height: 20px;
    font-weight: $fontweight-bold;

    @media screen and (max-width: 1000px) {
      font-size: 1.2rem;
      line-height: 15px;
    }

    @media screen and (max-width: 767px) {
      font-size: $font-med;
      line-height: 25px;
      padding: 25px 0 0 0;
    }
  }
}