.btn {
  padding: 1px 9px 1px 50px;
  position: relative;  
  background: transparent;
  border: 0.5px solid #b3b3b3;
  border-radius: 6px;
  cursor: pointer;

  &__icon {
    position: absolute;

    &--header-tele {
      top: 7px;
      left: 14px;
    }

    &--header-mail {
      left: 10px;
    }

    // work and news icon
    &--show-more {
      position: static;
    }
  }

  &__title {
    &--contact {
      font-weight: $fontweight-bold;
      font-size: $font-med;
      text-transform: uppercase;
      font-family: $ff-MicrosoftYahei;
      padding: 2px 0;

      @media screen and (max-width: 980px) {
        font-size: $font-small-half;
      }

      @media screen and (max-width: 767px) {
        font-size: $font-large;
      }

      &-number {
        @media screen and (max-width: 767px) {
          letter-spacing: 4px;
        }
      }
    }
  }

  &__text {
    font-size: $font-small-half;
    font-family: $ff-yugothic;
    color: $primary-color;
    font-weight: $fontweight-bold;

    &--small {
      font-size: $font-small;
      font-weight: $fontweight-medium;

      @media screen and (max-width: 1100px) {
        font-size: 0.8rem;
      }
    }

    &--larger {
      font-size: $font-med-half;

      @media screen and (max-width: 1100px) {
        font-size: $font-med;
      }
    }

    &--work,
    &--news {
      color: $white-color;
      font-size: $font-small-half;
      font-weight: $fontweight-regular;
      font-family: $ff-yugothic;
    }

    &--contact {
      color: $white-color;
      font-size: $font-small-half;
      font-weight: $fontweight-regular;
      font-family: $ff-yugothiclight;

      @media screen and (max-width: 980px) {
        font-size: 1.1rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 2.4rem;
      }

      & img {

      }
    }
  }

  &--header-mail {
    display: flex;
    align-items: center;
    margin: 0 0 0 15px;
  }

  // Other Button
  // work btn
  &--show-more {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $primary-color;
    padding: 13px 10px;
    width: 160px;
    border: none;
    border-radius: 2px;
  }

  //Contact Btn
  &--contact {
    padding: 27px 85px;
    width: 46%;
    color: $white-color;
    position: relative;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-color;
    border: none;
    letter-spacing: 3px;

    &-grey {
      background: $light-grey;
    }

    @media screen and (max-width: 980px) {
      padding: 27px 70px;
    }

    @media screen and (max-width: 820px) {
      padding: 27px 40px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 10px 50px;
      justify-content: space-evenly;
    }

    & img {
      width: 40px;

      @media screen and (max-width: 980px) {
        width: 35px;
      }

      @media screen and (max-width: 767px) {
        width: 45px;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
  }
}