.feature {
  background-image: linear-gradient(0deg, rgba($light-black-color, 0.8), rgba($light-black-color, 0.8)), url("../../dist/img/agathe.jpg");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 150px 0;

  @media screen and (max-width: 767px) {
    padding: 30px 0;
    background-size: 180%;
  }

  @media screen and (max-width: 425px) {
    background-size: 810px;
    background-position-x: -232px;
  }

  &__wrapper {
    @include wrapper__a;
    text-align: center;
  }

  &__title {
    color: $white-color;
    font-size: $font-large-half;
    text-transform: uppercase;
    font-weight: $fontweight-regular;
    font-family: $ff-MicrosoftTaiLe;
    padding: 0 0 30px 0;
    letter-spacing: 5px;

    @media screen and (max-width: 767px) {
      padding: 0 0 10px 0;
      font-size: $font-large;
    }
  }

  &__text {
    color: $white-color;
    font-weight: $fontweight-regular;
    font-size: $font-med;
    font-family: $ff-yumin;

    @media screen and (max-width: 375px) {
      font-size: $font-small-half;
    }
  }
}