.footer {
  &__top {
    padding: 50px 0;
  }

  &__wrapper {
    @include wrapper__a;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    background: $primary-color;
    text-align: center;
    padding: 15px 0;
  }

  &__copywrite {
    color: $white-color;
    font-weight: $fontweight-bold;
    font-family: $ff-yugothiclight;
  }
}