.footer-nav {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }

  &__item-wrapper {
    @include wrapper__a;
  }

  &__item {
    border-top: 0.75px solid #dc1715;
    background: #fcf7fa;
    padding: 15px 0;
  }

  &__links {
    font-family: $ff-yugothic;
    text-transform: uppercase;
    color: $primary-color;
    font-weight: $fontweight-bold;
    font-size: $font-med;

    @media screen and (max-width: 375px) {
      font-size: $font-small-half;
    }
  }
}