.footer {
  &__top {
    padding: 50px 0;

    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }

  &__links {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__wrapper {
    @include wrapper__a;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding: 20px 0;
    }
  }

  &__logo-links {
    @media screen and (max-width: 767px) {
      display: flex;
    }
  }

  &__bottom {
    background: $primary-color;
    text-align: center;
    padding: 15px 0;
  }

  &__copywrite {
    color: $white-color;
    font-weight: $fontweight-bold;
    font-family: $ff-yugothic;
  }
}