.goal {
  padding: 60px 0;
  text-align: center;
  min-height: 317px;
  display: flex;
  align-items: center;

  &__wrapper {
    @include wrapper__a;
  }

  &__title {
    font-size: $font-large;
    font-family: $ff-MicrosoftTaiLe;
    color: $light-black-color;
    text-transform: uppercase;
    padding: 0 0 20px 0;
    font-weight: $fontweight-bold;
    letter-spacing: 2px;
  }

  &__text {
    font-size: $font-small-half;
    color: $light-black-color;
    font-family: $ff-yumin;
  }
}