.logo {
  @include flex ($flex-direction: column, $align: null, $justify-content: null);

  &__text {
    font-size: 1.2rem;
    font-family: $ff-shingoExlight;
    color: $light-grey;

    &--footer {
      padding: 10px 0 0 0;
      font-size: 1.6rem;
      font-family: $ff-yugothic;
      color: #333;

      @media screen and (max-width: 1010px) {
        font-size: 1.4rem;
        padding: 3px 0 0 0;
      }

      @media screen and (max-width: 897px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.3rem;
        padding: 0;
      }

      @media screen and (max-width: 320px) {
        font-size: $font-small;
      }
    }

    @media screen and (max-width: 1100px) {
      .header__logo-container & {
        font-size: $font-small;
      }
    }

    @media screen and (max-width: 500px) {
      .header__logo-container & {
        font-size: 0.8rem;
      }
    }
  }

  &__img-wrapper {
    @media screen and (max-width: 767px) {
      margin: 0 20px 0 0;
    }
  }

  &__img {
    height: 64px;
    width: 244px;
    object-fit: contain;

    @media screen and (max-width: 1100px) {
      .header__logo-container & {
        width: 80%;
      }
    }

    @media screen and (max-width: 500px) {
      .header__logo-container & {
        width: 164px;
      }
    }

    &--footer {
      height: 50px;
      width: 190px;
      object-fit: contain;
  
      @media screen and (max-width: 897px) {  
        width: 150px;
      }

      @media screen and (max-width: 767px) {
        width: 130px;
      }

      @media screen and (max-width: 425px) {
        width: 100px;
      }
    }
  }
}