.logo {
  @include flex ($flex-direction:column,$align:null,$justify-content:null);

  &__text {
    font-size: 1.3rem;
    font-family: $ff-shingo;
    }
    
  &__img-wrapper {
    max-width: 250px;
    }
    
  &__img {
    height: 64px;
    object-fit: contain;
    }
}