.table {
  text-align: left;
  position: relative;

  &__head {
    color: $primary-color;
    font-weight: $fontweight-bold;
    text-transform: uppercase;
    padding: 5px 9px;
  }

  &__data {
    padding: 3px 9px;
  }

  &__row {
    margin: 3px 10px;
  }

  &__links {
    text-decoration: underline;
    color: $primary-color;
    font-weight: $fontweight-regular;
  }

  &::before {
  content: "";
  background: $primary-color;
  width: 100%;
  height: 1px;
  position: absolute;
  }
}