.work {
  padding: 40px 0;
  background: $bg-works;

  @media screen and (max-width: 767px) {
    padding: 20px 0;
  }

  &__wrapper {
    @include wrapper__wn;
  }

  &__title {
    color: $light-black-color;
    text-transform: uppercase;
    font-size: $font-med-half;
    text-align: center;
    font-family: $ff-MicrosoftTaiLe;
    font-weight: $fontweight-regular;
    letter-spacing: 2px;
  }

  &__list-wrapper {
    padding: 10px 0;

    @media screen and (max-width: 767px) {
      padding: 15px 0;
    }

    @media screen and (max-width: 425px) {
      padding: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 375px) {
      padding: 0 0 15px 0;
    }
  }

  &__item {
    width: 255px;
    height: 180px;
    margin: 13px 0;
    position: relative;

    &-title {
      color: $white-color;
      font-size: $font-small-half;
      font-family: $ff-yugothic;
      font-weight: $fontweight-medium;

      @media screen and (max-width: 375px) {
        font-size: $font-small;
      }  
    }

    &:nth-of-type(7) .work__item-title {
      font-size: 1.3rem;

      @media screen and (max-width: 375px) {
        font-size: $font-small;
      }
    }

    @media screen and (max-width: 1170px) {
      width: 23%;
    }

    @media screen and (max-width: 767px) {
      width: 48%;
    }

    @media screen and (max-width: 425px) {
      height: 140px;
    }

    @media screen and (max-width: 375px) {
      height: 115px;
      margin: 5px 0;
    }

    @media screen and (max-width: 320px) {
      height: 95px;
    }
  }

  &__img-wrapper {
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba($black-color, 0.6);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid $white-color;
    outline-offset: -10px;

    @media screen and (max-width: 1170px) {
      padding: 25px;
      text-align: center;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: end;
  }
}