// font size
$font-small: 1rem;
$font-small-half: 1.5rem;
$font-med: 2rem;
$font-med-half: 2.5rem;
$font-large: 3rem;
$font-large: 3.5rem;
$font-Xlarge: 4rem;

// font-weight
$fontweight-bold: 800;
$fontweight-medium: 600;
$fontweight-regular: 300;