// fonts
@font-face {
  font-family: 'A-OTF Shin Go Pr6 EL';
  src: url('/dist/fonts/A-OTF-ShinGoPr6-ExLight.otf') format(truetype);
}

@font-face {
  font-family: 'A-OTF Shin Go Pr6 L';
  src: url('/dist/fonts/A-OTF-ShinGoPr6-Light.otf') format(truetype);
}

@font-face {
  font-family: 'Microsoft Tai Le';
  src: url('/dist/fonts/Microsoft-Tai-Le.ttf') format(truetype);
}

@font-face {
  font-family: 'Microsoft Yahei';  
  src: url('/dist/fonts/Microsoft-TaHei-Bold-Font.ttf') format(truetype);
}

@font-face {
  font-family: 'Yu Gothic';
  src: url('/dist/fonts/yugothib.ttf') format(truetype);
}

@font-face {
  font-family: 'Yu Ghotic Light';
  src: url('/dist/fonts/yugothil.ttf') format(truetype);
}

@font-face {
  font-family: 'Yu Mincho';
  src: url('/dist/fonts/yumin.ttf') format(truetype);
}

// fonts Family
$ff-shingoExlight: 'A-OTF Shin Go Pr6 EL';
$ff-shingolight: 'A-OTF Shin Go Pr6 L';
$ff-MicrosoftTaiLe: 'Microsoft Tai Le';
$ff-MicrosoftYahei: 'Microsoft Yahei';
$ff-yugothic: 'Yu Gothic';
$ff-yugothiclight: 'Yu Ghotic Light';
$ff-yumin: 'Yu Mincho';